[Unit]
Description=Hyprland Idle Daemon (Auto Lock & Sleep)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/hypridle -c %h/.config/hypr/hypridle.conf
Restart=on-failure
RestartSec=3
TimeoutStopSec=5

[Install]
WantedBy=graphical-session.target
